@import "reset.css";

body {
	font-family: Verdana, sans-serif;
	color: #001e47;
}
h1 {
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 20px;
}
.flex {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('/img/background.jpg') center no-repeat;
	background-size: cover;
}
.container {
	background: #FFF;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 10px 20px #001e47;
	text-align: center;
	position: relative;
}
.reset {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.relative {
	position: relative;
}
.field {
	display: inline-block;
	width: 300px;
	height: 300px;
	box-shadow: 0 0 15px rgba(0, 30, 71, .2);
	overflow: hidden;
}
.gameover {
	display: none;
	width: 300px;
	height: 300px;
	text-align: center;
	color: #F00;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, .7);
	padding-top: 125px;
}
.cell {
	width: 30px;
	height: 30px;
	float: left;
	cursor: crosshair;
	position: relative;
	border: 1px solid rgba(0, 30, 71, .2);
}
.cell.past, .cell.got {
	pointer-events: none;
	cursor: default;
}
.cell.past:after, .cell.got:after {
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 30px;
	font-size: 22px;
	top: -2px;
}
.cell.past:after {
	content: '•';
}
.cell.got:after {
	content: '×';
}
.cell.destroyed-top {
	border-top: 1px solid rgb(255, 0, 0);
}
.cell.destroyed-right {
	border-right: 1px solid rgb(255, 0, 0);
}
.cell.destroyed-bottom {
	border-bottom: 1px solid rgb(255, 0, 0);
}
.cell.destroyed-left {
	border-left: 1px solid rgb(255, 0, 0);
}