<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>SeaBattle</title>
		<link rel="icon" type="image/png" href="/img/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
	</head>
	<body>
		<div class="flex">
			<div class="container">
				<div class="reset" title="Reset game">&times;</div>
				<h1>SeaBattle</h1>
                <div class="relative">
                    <div class="field"></div>
                    <div class="gameover">Game Over!</div>
                </div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="module" src="/js/script.js"></script>
	</body>
</html>